<!doctype html>
<html ng-app="exampleProgress">
<head>
	<meta charset="utf-8">
	<title>ngProgressLite demo</title>
	<link rel="stylesheet" href="../ngprogress-lite.css">
</head>
<body ng-controller="MainCtrl">

	<button ng-click="start()">Start</button>
	<button ng-click="set()">Set (0.4)</button>
	<button ng-click="inc()">Inc</button>
	<button ng-click="done()">Done</button>

	<script src="../bower_components/angular/angular.min.js"></script>
	<script src="../ngprogress-lite.js"></script>
	<script>
		var app = angular.module('exampleProgress', ['ngProgressLite']);

		app.config(['ngProgressLiteProvider', function (ngProgressLiteProvider) {
			ngProgressLiteProvider.settings.ease = 'ease-in';
		}]);

		app.controller('MainCtrl', function ($scope, ngProgressLite, $timeout) {
			ngProgressLite.start();
			$timeout(function () {
				ngProgressLite.done();
			}, 1000);

			$scope.set = function () {
				ngProgressLite.set(0.4);
			};

			$scope.start = function () {
				ngProgressLite.start();
			};

			$scope.inc = function () {
				ngProgressLite.inc();
			};

			$scope.done = function () {
				ngProgressLite.done();
			};
		});
	</script>
</body>
</html>