.ngProgressLite {
	pointer-events: none;
}

.ngProgressLiteBar {
	background: #29d;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	height: 2px;
}

.ngProgressLite .ngProgressLiteBarShadow {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #29d, 0 0 5px #29d;
	opacity: 1;
	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}
