.ngProgressLite {
	pointer-events: none;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-transition: all 300ms ease;
}

.ngProgressLiteBar {
	background: #29d;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	height: 2px;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-transition: all 300ms ease;
}

.ngProgressLite .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #29d, 0 0 5px #29d;
	opacity: 1;
	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

/* Spinner */
.ngProgressLite .spinner {
	display: block;
	position: fixed;
	z-index: 100;
	top: 15px;
	right: 15px;
}

.ngProgressLite .spinner-icon {
	width: 18px;
	height: 18px;
	box-sizing: border-box;

	border: 2px  solid transparent;
	border-top-color: #29d;
	border-left-color: #29d;
	border-radius: 50%;

	-webkit-animation: nprogress-spinner 400ms linear infinite;
	animation: nprogress-spinner 400ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes nprogress-spinner {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}